services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - postgres
      - influxdb
      - mqtt
    environment:
      DB_HOST: postgres
      DB_USER: meshuser
      DB_PASSWORD: meshpass
      DB_NAME: meshdb
      INFLUX_HOST: influxdb
      INFLUX_PORT: 8086
      MQTT_HOST: mqtt
      MQTT_PORT: 1883

#POSTGRES
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro

#INFLUX
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      INFLUXDB_DB: ${INFLUX_DB}
      INFLUXDB_ADMIN_USER: ${INFLUX_USER}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUX_PASSWORD}
    volumes:
      - influxdata:/var/lib/influxdb
  
  influx-seed:
    image: influxdb:1.8
    depends_on:
      - influxdb
    volumes:
      - ./influx/seed:/seed:ro
    entrypoint: ["/bin/bash", "/seed/seed.sh"]
    restart: "no"

#GRAFANA
  grafana:
    image: grafana/grafana:10.2.3
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - influxdb
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Editor"
      GF_SECURITY_ALLOW_EMBEDDING: "true"
    volumes:
      - grafanadata:/var/lib/grafana
      # Provisioning: auto add datasources + auto load dashboards
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro

  mqtt:
    image: eclipse-mosquitto
    restart: always
    ports:
      - "1883:1883"

volumes:
  pgdata:
  influxdata:
  grafanadata:
