services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - postgres
      - influxdb
      - mqtt
    environment:
      DB_HOST: postgres
      DB_USER: meshuser
      DB_PASSWORD: meshpass
      DB_NAME: meshdb
      INFLUX_HOST: influxdb
      INFLUX_PORT: 8086
      MQTT_HOST: mqtt
      MQTT_PORT: 1883

  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: meshuser
      POSTGRES_PASSWORD: meshpass
      POSTGRES_DB: meshdb
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  influxdb:
    image: influxdb:1.8
    restart: unless-stopped
    ports:
      - "8086:8086"
    volumes:
      - influx-data:/var/lib/influxdb

  grafana:
    image: grafana/grafana:10.2.3
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - postgres
      - influxdb
    environment:
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
      GF_SECURITY_ALLOW_EMBEDDING: "true"

mqtt:
  image: eclipse-mosquitto
  restart: always
  ports:
    - "1883:1883"
  
 